[Desktop Entry]
Encoding=UTF-8
Name=MochaChain
Comment=MochaChain P2P Cryptocurrency
Comment[fr]=MochaChain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MochaChain, eşten eşe kriptografik sanal para birimi
Exec=mochachain-qt %u
Terminal=false
Type=Application
Icon=mochachain128
MimeType=x-scheme-handler/mochachain;
Categories=Office;Finance;
